.header{
    width:7.5rem;
    height:0.9rem;
    z-index:10;
    background: #fff;
    
}
.header .header-box{
    width:7.02rem;
    height:0.9rem;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    
    
}
.header .header-box .header-box-left{
    width:0.88rem;
    height:0.9rem;
    text-align: left;
    color:#000;
}
.header3{
    position: fixed;
    top:0;
}
.header .header-box .header-box-left .iconfont{
    font-size:0.34rem;
    color:060606;
    line-height: 0.9rem;
    
}
.header .header-box .header-box-center{
    width:1.25rem;
    height:0.9rem;
    line-height:0.9rem;
    font-size:0.3rem;
    color:#000;
    text-align: center;
    font-family: [GillSansMT];
}
.header .header-box .header-box-center span{
    color:#ffcb3f;
}
.header .header-box .header-box-right{
    width:0.66rem;
    height:0.9rem;
    text-align: right;
    color:#000;
}
.header .header-box .header-box-right .iconfont{
    font-size:0.34rem;
    color:060606;
    line-height: 0.9rem;
}
.header2{
    margin-top:0.9rem;
}
.header2 .header-box {
    text-align: center;
}
.header2 .header-box .title{
    font-size:0.24rem;
    line-height:0.9rem;
    color:#737373;
    display: block;
}
.lunbo{
    width:7.5rem;
    height:3.84rem;
    position: relative;
}
.lunbo .lunbodian{
    width:0.89rem;
    height:0.1rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:3.6rem;
    left:0;
    right:0;
    margin:auto;
    
}
.lunbo .lunbodian .dian{
    width:0.1rem;
    height:0.1rem;
    border-radius: 0.1rem;
    border: 0.01rem solid #f3f6f6;
}
.lunbo .lunbodian .dian1{
    border: 0;
    background: #fff;
}
.bigbox{
    width:7.5rem;
    height:auto;
    padding:0 0.24rem;
    background-color:#f6f6f6;
    overflow: hidden;
    box-sizing: border-box;
}
.bigbox .title{
    width:1.9rem;
    height:1.11rem;
    margin:0.79rem auto 0;
}
.bigbox .title .yellow{
    width:0.48rem;
    height:0.02rem;
    background-color:#ffcb3f;
}
.bigbox .title .hui{
    width:1.9rem;
    height:0.01rem;
    border-bottom:0.01rem solid #d7d7d7;
    margin-top:0.05rem;
}
.bigbox .title .text{
    margin-top:0.05rem;
    font-size:0.18rem;
    color: #000000;
    text-align: center;  
}
.bigbox .title .text2{
    display: flex;
    justify-content:center;
}
.bigbox .title .text2 span{
    display: block;
}
.bigbox .title .black{
    width: 34px;
	height: 2px;
    background-color: #000000;
    margin:0.17rem auto 0;
}
.bigbox .number{
    margin-top:0.36rem;
    width:7.02rem;
    height:0.37rem;
    font-size:0.22rem;
    text-align:right;
}
.bigbox .box{
    width:7.5rem;
    height:5.31rem;
    margin-top:0.2rem;
    overflow: auto;
    
}
.bigbox .box .box-big{
    width:15rem;
}
.bigbox .box .box-big .box-1{
    width:3.08rem;
    height:5.11rem;
    float: left;
    margin-right:0.24rem;
    margin-top:0.2rem;
    background:#fff;
}
.bigbox .box::-webkit-scrollbar{
    display:none;
    }
.bigbox .box .box-big .box-1 .box-1-img{
    width:3.08rem;
    height:2.89rem;
    position: relative;
}
.bigbox .box .box-big .box-1 .box-1-img .lofo{
    width:0.48rem;
    height:0.55rem;
    background-color: #ffcb3f;
    position: absolute;
    top:-0.1rem;
    left:0.13rem;
    font-size:0.16rem;
    text-align: center;
    color:#fff;
    line-height:0.35rem;
}
.bigbox .box .box-big .box-1 .box-1-img .xaA{
    border-left:0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top:0.21rem solid  transparent;
    border-bottom: 0.21rem solid #dcbaa6; 
    position: absolute;
    left:0.12rem;
    top:0.05rem;
}
.bigbox .box .box-big .box-2{
    width:0.27rem;
    height:0.01rem;
    margin:0.2rem 0  0   0.17rem;
    background-color:#000;
}
.bigbox .box .box-big .box-2-1{
    background-color:#ffffff;
}
.bigbox .box .box-big .box-3{
    font-size:0.18rem;
    color: #000000;
    margin-top:0.09rem;
    margin-left:0.17rem;  
}
.bigbox .box .box-big .box-4{
    font-size:0.24rem;
    color: #000000;
    margin-top:0.1rem;
    margin-left:0.17rem;  
}
.bigbox .box .box-big .box-5{
    width:2.63rem;
    height:0.43rem;
    margin:0.6rem auto 0;
    display: flex;
    justify-content: space-between;
}
.bigbox .box .box-big .box-5 .box-5-1{
    width:1.06rem;
    height:0.43rem;
}
.bigbox .box .box-big .box-5 .box-5-1 span{
    font-size:0.26rem;
    line-height:0.43rem;
    color:#000;
}
.bigbox .box .box-big .box-5 .box-5-1 span:nth-child(2){
    font-size:0.18rem;
    line-height: 0.43rem;
}
.bigbox .box .box-big .box-5 button{
    display: block;
    width: 1.52rem;
	height: 0.43rem;
	background-color: #ffcb3f;
    border-radius: 0.04rem;
    border: 0;
    outline: none;
    display: flex;
    justify-content:space-around;
}
.bigbox .box .box-big .box-5 button .fuhao{
    width:0.17rem;
    height:0.17rem;
    border-radius: 0.17rem;
    border: 1px solid #fff;
    text-align: center;
    font-size: 0.1rem;
    color:#fff;
    margin-toP:0.12rem;
    line-height:0.17rem;
}
.bigbox .box .box-big .box-5 button .text{
    font-size:0.22rem;
    color:#fff;
    line-height:0.43rem;
}
.bigbox .box2{
    width:7.02rem;
    height:7.3rem;
    margin-top:0.57rem;
    background: #fff;
    overflow: hidden;
}
.bigbox .box2 .banner{
    width:6.25rem;
    height:2.62rem;
    margin:1.11rem auto 0;
    display: block;
}
.bigbox .box2 .box2-1{
    width:6.25rem;
    height:2.62rem;
    margin:0.58rem auto 0;
}
.bigbox .box2 .box2-1{
    width:6.25rem;
    height:2.62rem;
    margin:0.58rem auto 0;
}
.bigbox .box2 .box2-1 .box2-1-1{
	font-size: 0.3rem;
	font-weight: bold;
    color: #000000;
}
.bigbox .box2 .box2-1 .box2-1-2{
	font-size: 0.2rem;
    color: #000000;
    margin-top:0.14rem;
}
.bigbox .box2 .box2-1 .box2-RMB{
    margin-top:1.09rem;
    font-size:0.3rem;
    font-weight: bold;
    color: #000000;
}
.bigbox .box2 .box2-1 .box2-RMB span{
    font-size:0.18rem;
    color: #000000;
}
.bigbox .box2 .box2-1 .box2-dibu span{
    font-size:0.18rem;
    color: #000000;
}
.bigbox .box2 .box2-1 .zhuangshi{
    width:1rem;
    height:3rem;
    float:right;
}
.bigbox .box2 .box2-1 .zhuangshi{
    width:0.5rem;
    height:3rem;
    float:right;
}
.bigbox .box2 .box2-1 .zhuangshi .yuan1{
    width:0.16rem;
    height:0.16rem;
    border-radius: 0.16rem;
    background-color:#abe3e6;
    margin-top:1.06rem;
    
}
.bigbox .box2 .box2-1 .zhuangshi .yuan2{
    width:0.16rem;
    height:0.16rem;
    border-radius: 0.16rem;
    background-color:#cecdca;
    margin-top:0.26rem;
}
.bigbox .box2 .box2-1 .zhuangshi .yuan3{
    width:0.16rem;
    height:0.16rem;
    border-radius: 0.16rem;
    background-color: #ffcb3f;
    margin-top:0.24rem;
}
.bigbox .box3{
    width:7.02rem;
    height:4.16rem;
    margin-top:0.5rem;
    display: flex;
    justify-content: space-between;
}
.bigbox .box3 .box3-1{
    width:3.38rem;
    height:4.4rem;
    background-color:#fff;
    overflow: hidden;
}
.bigbox .box3 .box3-1 .xiaobiaoti{
    font-size:0.18rem;
    margin:0.19rem 0  0   0.48rem;
}
.bigbox .box3 .box3-1 .top{
    margin-top:0.16rem;
    font-size:0.26rem;
    font-weight: bold;
    color:#000;
    margin-left:0.48rem;

}
.bigbox .box3 .box3-1 img{
    width:1.4rem;
    height:1.8rem;
    display: block;
    margin:0.48rem 0  0  0.42rem;
}
.bigbox .box3 .box3-1 .box3-1-1{
    margin:0.30rem 0  0  0.42rem;
    font-size:0.26rem;
    font-weight: bold;
    color:#000;
    overflow: hidden;
}
.bigbox .box3 .box3-1 .box3-1-1 span{
    font-size:0.18rem;
}
.bigbox .box3 .box3-1 .box3-1-2 {
    margin-left:0.42rem;
    font-size:0.18rem;
}
.bigbox .box3 .box3-1 .zhuangshi{
    width:1rem;
    height:2rem;
    float:right;
    margin-top:1.5rem;
}
.bigbox .box3 .box3-1 .zhuangshi{
    width:0.5rem;
    height:3rem;
    float:right;
}
.bigbox .box3 .box3-1 .zhuangshi .yuan1{
    width:0.16rem;
    height:0.16rem;
    border-radius: 0.16rem;
	background-color: #efd28e;
    margin-top:1.06rem;
    
}
.bigbox .box3 .box3-1 .zhuangshi .yuan2{
    width:0.16rem;
    height:0.16rem;
    border-radius: 0.16rem;
	background-color: #97d1d7;
    margin-top:0.26rem;
}
.bigbox .box3 .box3-1 .zhuangshi .yuan3{
    width:0.16rem;
    height:0.16rem;
    border-radius: 0.16rem;
	background-color: #97a0d7;
    margin-top:0.24rem;
}
.bigbox .box4{
    width:3.85rem;
    height:0.19rem;
    margin:0.7rem auto 0;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.bigbox .box4 .box4-1{
    width:1.13rem;
    height:0.01rem;
    background: #d9d9d9;
}
.bigbox .box4 .box4-2{
    font-size:0.18rem;
    color: #a6a6a6;
}
.bigbox .box5{
    width:7.02rem;
    height:4.38rem;
    margin-top:0.65rem;
}
.bigbox .box6{
    margin-top:0.41rem;
    font-size:0.28rem;
    text-align: center;
    color:#000;
    font-weight: bold;
}
.bigbox .box7{
    width:7.02rem;
    height:auto;
    margin-top:0.28rem;
    text-align: center;
}
.bigbox .box7 p{
    font-size:0.24rem;
    color:#000;
}
.bigbox .zhanshi{
    margin:0.34rem auto  0;
    width: 1.4rem;
	height: 0.6rem;
	border-radius: 0.3rem;
    border: solid 0.01rem #fbca4a;
    line-height: 0.6rem;
    text-align: center;
    color: #000000;
    font-size:0.18rem;
}
.bigbox  .title1 {
    width:2.5rem;
    height:2rem
}
.bigbox  .title1 .hui{
    margin:0.08rem auto 0;
}
.bigbox  .title1 .yellow{
    margin-left:0.3rem;
}
.box8{
    width:7.5rem;
    height:3.34rem;
    margin-bottom:1rem;
}
.box8 img{
    width:100%;
    height:100%;
}
.tab-box{
    width: 100%;
    height: 0.98rem;
    position: fixed;
    bottom: 0;
    z-index: 100;
}
.tab{
    width: 7.5rem;
    height: 0.98rem;
    background-color: #fafafa;
    border-top: solid 1px #bfbfbf;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
}
.tab .div1{
    display: block;
    width: 0.8rem;
    height: 0.98rem;
    /* background: #000000;
    opacity: 0.2; */
    color: #000;
    padding-top: 0.15rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center
}
.div1 span{
    font-size: 0.2rem;
}
.div2>i,.div2>span{
    color: #ffcb3f;
}