.box{
    background: #F4F4F4;
    /* width: 100%; */
    height: 12.4rem;
    position: relative;
}
.top-box{
    width: 100%;
    height: 0.88rem;
    position: fixed;
    top: 0;
}
.top{
    width: 7.47rem;
    height: 0.88rem;
    /* background: #999; */
    margin: 0 auto;
    position: relative;
}
.iconcuowu{
    position: absolute;
    top: 0.29rem;
    left: 0.2rem;
    color: #000;
}
.top img{
    display:block;
    margin: 0 auto;
    height: 0.88rem;
}
.top .iconmore{
    position: absolute;
    top: 0.35rem;
    color: #000;
    right: 0.23rem;
}
.zfcg-box{
    /* width: 100%; */
    height: 0.78rem;
    /* background: #000; */
}
.zfcg{
    width: 7.5rem;
    height: 0.78rem;
    /* background: #ff67ff; */
    margin-top: 0.88rem;
    position: relative;
    border: solid 1px #eeee;
    box-sizing: border-box;
}
.zfcg a i{
    display: inline-block;
    width: 0.14rem;
    height: 0.24rem;
    color: #000;
    margin: 0.27rem 0 0.27rem 0.27rem;
}
.zfcg span{
    text-align: center;
    line-height: 0.78rem;
    font-size: 0.28rem;
    position: absolute;
    left: 3.19rem;
    display: inline-block;
}
.wenti-box{
    width: 100%;
    height: 3.98rem;
    /* background: #000; */
}
.wenti{
    width: 6.53rem;
    height: 3.98rem;
    margin: 0.47rem 0 0 0.24rem;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.37rem 0 0 0.4rem;
}
.wenti li{
    margin-top:0.4rem;
}
.wenti span{
    height: 0.26rem;
    /* background: #ff69ff; */
    font-size: 0.26rem;
	line-height: 0.36rem;
	color: #666666;
}
li a div{
    width: 0.09rem;
    height: 0.09rem;
    background: #d4d4d4;
    border-radius: 50%;
    float: left;
    margin-top: 0.15rem;
    margin-right: 0.12rem;
}
.wenti li a{
    font-size: 0.26rem;
    line-height: 0.36rem;
    color: #666;
}
.p1{
    width: 3.57rem;
    height: 0.42rem;
    background-color: #ebebeb;
    border-radius: 10px;
    color: #666666;
    font-size: 0.22rem;
    line-height: 0.36rem;
    position: absolute;
    bottom: 5.8rem;
    left: 1.98rem;
    text-align: center;
    line-height: 0.42rem;
}
.tishi-box{
    width: 100%;
    height: 1.14rem;
    /* background: #333; */
    margin-top: 1.31rem;
}
.tishi{
    width: 7.5rem;
    height: 1.14rem;
    padding-left: 0.24rem;
    box-sizing: border-box;
}
.tishi>p{
    width: 6.53rem;
    height: 1.14rem;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 0.26rem;
    line-height: 0.4rem;
    padding: 0.24rem 0 0 0.28rem;
    color: #666;
}
.tab-box{
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
}
.tab{
    width: 7.5rem;
    height: 1rem;
    display: flex;
    padding: 0.18rem 0.2rem;
    box-sizing: border-box;
    justify-content: space-between;
    line-height: 0.7rem;
    background: #fff;
}
.tab input{
    width: 6.5rem;
    height: 0.64rem;
    outline: none;
    border: 0.01rem solid #999; 
    text-indent: 1em;
}
