.top-box{
    width: 7.5rem;
    height: 0.88rem;
    top: 0;
    overflow: hidden;
}
.top{
    width: 7.47rem;
    height: 0.88rem;
    /* background: #999; */
    position: relative;
    background-color: #ffff;
}
.iconcuowu{
    position: absolute;
    top: 0.29rem;
    left: 0.2rem;
}
.top img{
    display:block;
    margin: 0 auto;
    height: 0.88rem;
}
.top .iconmore{
    position: absolute;
    top: 0.35rem;
    right: 0.23rem;
}
.tab-box{
    width: 100%;
    height: 0.98rem;
}
.topj{
    width:7.5rem;
    height:0.88rem;
    /* background-color: aqua; */
    position: relative;
}
.topj .topj1{
    width:5.56rem;
    height:0.88rem;
    background-color: white;
    margin-left:0.1rem;
    border-radius: 0.4rem;
    border:0.01rem solid #EFEFEF;
}
.topj input{
    width:4rem;
    height:0.8rem;
    margin-left:0.6rem;
    margin-top:0.01rem;
    border:0;
    outline: none;
}
.topj .iconmagnifier{
    position: absolute;
    top: 0.35rem;
    left: 0.25rem;
    font-size: 0.18rem;
}
.topj span{
    float: right;
    margin-top:-0.7rem;
    margin-right:1.1rem;
    font-size: 0.3rem;
}
.box1{
    width:7.5rem;
    height:3.88rem;
    /* background-color: teal; */
    margin-top:0.1rem;
}
.box1 .small{
    width: 7.5rem;
    height:1.88rem;
    /* background-color: violet; */
}
.box1 .bor{
    float: left;
    width: 0.04rem;
    height: 0.2rem;
    /* background-color: #FFCB3F; */
    margin-top: 0.14rem;
}
.box1 .bor1{
    line-height: 0.9rem;
    margin-left:-3.5rem;
}
.box1 .small .small2{
    width:1.8rem;
    height:0.8rem;
    background-color: #EFEFEF;
    float: left;
    margin-top:0.9rem;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 0.8rem;
}
.box1 .small .small3{
    margin-left:0.2rem;
}
.box1 .small1{
    margin-top:0.1rem;
}
.box1 .small .ziti{
    margin-left:4.2rem;
}
.zhongjian{
    width:7.5rem;
    height:6.8rem;
    background-color: #F8F8F8;
    margin-top:0.03rem;
}
.zhongjian .top4{
    width:7.5rem;
    height:0.88rem;
    /* background-color: antiquewhite; */
}
.top4 .bor{
    float: left;
    width: 0.09rem;
    height: 0.4rem;
    background-color: #FFCB3F;
    margin-top: 0.18rem;
}
.zhongjian .top4 .ziyi{
    float: left;
    margin-top:0.2rem;
    margin-left:0.09rem;
    font-size: 0.28rem;
}
.zhongjian .yu{
    width:3.5rem;
    height:5.2rem;
    background-color: white;
    margin-left:0.08rem;
}
.zhongjian .yu1{
    float: right;
    width:3.5rem;
    height:5.2rem;
    background-color: white;
    margin-top:-5.7rem;
    margin-right:0.12rem;
}
.zhongjian .yu img{
    width:3.5rem;
    height:3rem;
}
.zhongjian .yu .xiao{
    width:0.4rem;
    height:0.03rem;
    background-color: black;
    margin-left:0.1rem;
    margin-top:0.01rem;
}
.zhongjian .yu p{
    font-size: 0.16rem;
    margin-left:0.1rem;
    line-height: 0.6rem;
}
.zhongjian .yu .ziyt{
    line-height: 0.4rem;
}
.zhongjian .yu .zi{
    margin-left:0.1rem;
    line-height: 1.4rem;
}
.zhongjian .yu .ku{
    width:1.53rem;
    height:0.44rem;
    background-color: #ffcb3f;
    float: right;
    margin-top:0.5rem;
}
.zhongjian .yu .ku .iconjiahao{
    line-height: 0.5rem;
    color:white;
}
.zhongjian .yu .ku .zi1{
    font-size: 0.16rem;
    color:white
}
.zhongjian .yu1 img{
    width:3.5rem;
    height:3rem;
}
.zhongjian .yu1 .xiao{
    width:0.4rem;
    height:0.03rem;
    background-color: black;
    margin-left:0.1rem;
    margin-top:0.01rem;
}
.zhongjian .yu1 p{
    font-size: 0.16rem;
    margin-left:0.1rem;
    line-height: 0.6rem;
}
.zhongjian .yu1 .ziyt{
    line-height: 0.4rem;
}
.zhongjian .yu1 .zi{
    margin-left:0.1rem;
    line-height: 1.4rem;
}
.zhongjian .yu1 .ku{
    width:1.53rem;
    height:0.44rem;
    background-color: #ffcb3f;
    float: right;
    margin-top:0.5rem;
}
.zhongjian .yu1 .ku .iconjiahao{
    line-height: 0.5rem;
    color:white;
}
.zhongjian .yu1 .ku .zi1{
    font-size: 0.16rem;
    color:white
}