.box{
    background: #F4F4F4;
    /* width: 100%; */
    height: 12.4rem;
    position: relative;
}
.top-box{
    width: 100%;
    height: 0.88rem;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
}
.top{
    width: 7.47rem;
    height: 0.88rem;
    /* background: #999; */
    margin: 0 auto;
    position: relative;
}
.iconcuowu{
    position: absolute;
    top: 0.29rem;
    left: 0.2rem;
    color: #000;
}
.top img{
    display:block;
    margin: 0 auto;
    height: 0.88rem;
}
.top .iconmore{
    position: absolute;
    top: 0.35rem;
    right: 0.23rem;
    color: #000;
}
.zfcg-box{
    /* width: 100%; */
    height: 0.78rem;
    /* background: #000; */
}
.zfcg{
    width: 7.5rem;
    height: 0.78rem;
    background: #fff;
    margin-top: 0.88rem;
    position: relative;
    /* border: solid 1px #eeee; */
    box-sizing: border-box;
}
.zfcg a i{
    display: inline-block;
    width: 0.14rem;
    height: 0.24rem;
    margin: 0.27rem 0 0.27rem 0.27rem;
    color: #000;
}
.zfcg span{
    text-align: center;
    line-height: 0.78rem;
    font-size: 0.28rem;
    position: absolute;
    left: 3.19rem;
    display: inline-block;
}
.pingjia-box{
    width: 100%;
    height: 2.71rem;
    /* background: #ff6700; */
    margin-top: -0.33rem;
}
.pingjia{
    width: 7.02rem;
    height: 2.71rem;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 1px 21px 0px 
    rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.pingjia img{
    width: 1.87rem;
    height: 1.34rem;
    margin: 0.85rem 0 0 0.18rem;
}
.pingjia .p1{
    height: 0.24rem;
    /* background: #000; */
    margin: -1.4rem 0 0 2.22rem;
}
.p1 .span1{
    font-size: 0.18rem;
    line-height: 0.18rem;
    color:#666;
}
.p1 .span2{
    font-size: 0.24rem;
    line-height: 0.18rem;
    color: #666666;
}
.p2{
    height: 0.18rem;
    font-size: 0.18rem;
    line-height: 0.18rem;
    color: #000;
    opacity: 0.7;
    margin-left: 2.23rem;
    margin-top: 0.3rem
}
.xingxing{
    margin: 0.32rem 0 0 2.22rem;
}
.xingxing .iconxingxingxing1{
    width:1.15rem;
    height: 0.24rem;
    font-size: 0.24rem;
    color: #FFCB41;
}
.pingjia2-box{
    width: 100%;
    height: 6.13rem;
    margin-top: 0.21rem;
    /* background: #000; */
}
.pingjia2{
    width: 7.02rem;
    height: 6.13rem;
    box-shadow: 0px 1px 21px 0px 
    rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    margin: 0 auto;
    background: #fff;
    padding: 0.25rem 0 0 0.2rem;
    position: relative;
}
.pingjia2 p{
    font-size: 0.24rem;
    line-height: 0.36rem;
    color: #333;
}
textarea{
    height: 2.57rem;
    width: 6.65rem;
    background: #f5f5f5;
    outline: none;
    border: 0;
    text-indent: 1em;
    padding-top: 0.2rem;
}
.text{
    font-size: 0.24rem;
    color: #999;
}
.pingjia2 .iconxiangji{
    font-size: 0.6rem;
    color: #000;
    opacity: 0.3;
    display: block;
}
.pingjia2 img{
    width: 1.7rem;
    height: 1.4rem;
    display: block；
}
.pingjia2 .iconshanchu_shurukuang{
    position: absolute;
    bottom: 1.55rem;
    left: 1.7rem;
    color: #999;
}
.tab{
    width: 6.38rem;
    height: 0.77rem;
    background-color: #ffcb3f;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 0.28rem;
    line-height: 0.77rem;
    color: #fff;
    position: absolute;
    bottom: 0.41rem;
    left: 0.56rem;
    text-align: center;
}