.top-box{
    width: 100%;
    height: 0.88rem;
    position: fixed;
    top: 0;
}
.top{
    width: 7.47rem;
    height: 0.88rem;
    /* background: #999; */
    margin: 0 auto;
    position: relative;
}
.iconcuowu{
    position: absolute;
    top: 0.29rem;
    left: 0.2rem;
    font-size: 0.3rem;
}
.top img{
    display:block;
    margin: 0 auto;
    height: 0.88rem;
}
.top .iconmore{
    position: absolute;
    top: 0.35rem;
    right: 0.23rem;
    font-size: 0.3rem;
}
.tab-box{
    width: 100%;
    height: 0.98rem;
    position: fixed;
    bottom: 0;
}
.tab{
    width: 7.5rem;
    height: 0.98rem;
    background-color: #fafafa;
    border-top: solid 1px #bfbfbf;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.tab .div1{
    display: block;
    width: 0.8rem;
    height: 0.98rem;
    /* background: #000000;
    opacity: 0.2; */
    color: #000;
    padding-top: 0.15rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center
}
.div1 span{
    font-size: 0.2rem;
}
.div2>i,.div2>span{
    color: #ffcb3f;
}
.div1 i{
    font-size: 0.4rem;
}
.set{
    width: 7.02rem;
    height: 0.78rem;
    
    margin-left: 0.24rem;
    margin-top: 0.88rem;
    box-sizing: border-box;
    text-align: center;
    line-height: 0.78rem;
}
.set i{
    font-size: 0.24rem;
    float: left;
    
}
.set p{
    font-size: 0.28rem;
    width: 7.02rem;
    
}
.content{
    width: 7.02rem;
    height: 6.52rem;
    border-bottom: 0.02rem solid #f2f2f2;
    margin: 0 auto;
    box-sizing: border-box;
}
.content .content1{
    width: 7.02rem;
    height: 0.9rem;
    /* margin-top: 0.32rem; */
    padding: 0 0.3rem 0 0.3rem;
    line-height: 0.9rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 0.02rem solid #f2f2f2;
    
}
.content .content1 .left{
    line-height: 0.9rem;
    font-size: 0.26rem;
}
.content .content1 .right {
    float: right;
    width: 0.9rem;
    height: 0.9rem;
    display: block;
    
}
.content .content1 .right i{
    font-size: 0.24rem;
    float: right;
}
.tuichu{
    width: 7.02rem;
    height: 0.9rem;
    margin: 0 auto;
    margin-top: 2.19rem;
    font-size: 0.26rem;
    line-height: 0.9rem;
    color: #e1184c;
    text-align: center;
    background: #fff;
}
.box{
    width: 100%;
    height: 11.28rem;
    background: #FCFCFC
}