.top-box{
    width: 100%;
    height: 0.88rem;
    position: fixed;
    top: 0;
    background-color:#Fff;
}
.top{
    width: 7.47rem;
    height: 0.88rem;
    /* background: #999; */
    margin: 0 auto;
    position: relative;
}
.iconcuowu{
    position: absolute;
    top: 0.29rem;
    left: 0.2rem;
}
.top img{
    display:block;
    margin: 0 auto;
    height: 0.88rem;
}
.top .iconmore{
    position: absolute;
    top: 0.35rem;
    right: 0.23rem;
}
.tab-box{
    width: 100%;
    height: 0.98rem;
    position: fixed;
    bottom: 0;
}
.tab{
    width: 7.5rem;
    height: 0.98rem;
    background-color: #fafafa;
    border-top: solid 1px #bfbfbf;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.tab .div1{
    display: block;
    width: 0.8rem;
    height: 0.98rem;
    /* background: #000000;
    opacity: 0.2; */
    color: #000;
    padding-top: 0.15rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center
}
.div1 span{
    font-size: 0.2rem;
}
.div2>i,.div2>span{
    color: #ffcb3f;
}
.div1 i{
    font-size:0.4rem;
}
.q{
    width:100%;
    height:0.78rem;
    margin-top:0.88rem;
    border-top:0.01rem solid #EEEEEE;
    border-bottom:0.01rem solid #EEEEEE;
    font-size:0.28rem;
    color: #000000;
    text-align:center;
    line-height:0.78rem;
    position:relative;
    background-color:#Fff;
}
.q .iconfanhui{
    font-size:0.3rem;
    position:absolute; 
    left:0.24rem;
    top:0.02rem;
    color:#000000;
}
.w{
    width:100%;
    height:0.78rem;
    border-bottom:0.01rem solid #ffcb3f;
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: flex-end;
    background-color:#Fff;
}
.w1{
    display:block;
    font-size:0.24rem;
    color:#737373;
    padding-bottom:0.2rem;
}
.w2{
    color:#ffcb3f;
    border-bottom:0.01rem solid #ffcb3f;
}
.e{
    display:block;
    width:7.02rem;
    height:2.62rem;
    margin:0 auto;
    margin-top:0.23rem;
    position:relative;
    box-shadow:0 0 0.05rem 0.05rem #ECECEC;
    background-color:#Fff;
}
.e img{
    width:1.86rem;
    height:1.36rem;
    position:absolute; 
    top:0.52rem;
    left:0.2rem;
}
.e1{
    position:absolute; 
    top:0.66rem;
    left:2.2rem;
    color:#6B6B6B;
    font-size:0.06rem;
}
.e3{
    position:absolute; 
    top:0.60rem;
    left:4rem;
    color:#2C2C2C;
    font-size:0.24rem;
}
.e2{
    position:absolute; 
    top:0.99rem;
    left:2.21rem;
    color:#909090;
    font-size:0.18rem;
}
.e4{
    position:absolute; 
    top:1.54rem;
    left:2.19rem;
    color:#7C7C7C;
    font-size:0.18rem;
}
.e5{
    position:absolute; 
    top:0.69rem;
    right:0.32rem;
    color:#000;
    font-size:0.24rem;
}
.e6{
    position:absolute; 
    top:1.67rem;
    left:5.53rem;
    color:#000;
    font-size:0.26rem;
}
.e7{
    position:absolute; 
    top:1.67rem;
    right:0.32rem;
    color:#000;
    font-size:0.18rem;
}
.e8{
    position:absolute; 
    bottom:0.35rem;
    right:0.34rem;
    color:#ffcb3f;
    font-size:0.24rem;
}
.r{
    display:block;
    width:7.02rem;
    height:2.62rem;
    margin:0 auto;
    margin-top:0.23rem;
    position:relative;
    box-shadow:0 0 0.05rem 0.05rem #ECECEC;
    background-color:#Fff;
}
.r img{
    width:1.86rem;
    height:1.36rem;
    position:absolute; 
    top:0.52rem;
    left:0.2rem;
}
.r .r1{
    position:absolute; 
    top:0.66rem;
    left:2.2rem;
    color:#6B6B6B;
    font-size:0.06rem;
}
.r .r2{
    position:absolute; 
    top:0.60rem;
    left:4rem;
    color:#2C2C2C;
    font-size:0.24rem;
}
.r .r3{
    position:absolute; 
    top:0.99rem;
    left:2.21rem;
    color:#909090;
    font-size:0.18rem;
}
.r .r4{
    position:absolute; 
    top:1.54rem;
    left:2.19rem;
    color:#7C7C7C;
    font-size:0.18rem;
}
.r .r5{
    position:absolute; 
    top:0.69rem;
    right:0.32rem;
    color:#000;
    font-size:0.24rem;
}
.r .r6{
    position:absolute; 
    top:1.67rem;
    left:5.53rem;
    color:#000;
    font-size:0.26rem;
}
.r .r7{
    position:absolute; 
    top:1.67rem;
    right:0.32rem;
    color:#000;
    font-size:0.18rem;
}
.r .r8{
    position:absolute; 
    bottom:0.35rem;
    right:0.34rem;
    color:#ffcb3f;
    font-size:0.24rem;
}
.t{
    display:block;
    width:7.02rem;
    height:2.62rem;
    margin:0 auto;
    margin-top:0.23rem;
    position:relative;
    box-shadow:0 0 0.05rem 0.05rem #ECECEC;
    background-color:#Fff;
}
.t img{
    width:1.86rem;
    height:1.36rem;
    position:absolute; 
    top:0.52rem;
    left:0.2rem;
}
.t .t1{
    position:absolute; 
    top:0.66rem;
    left:2.2rem;
    color:#6B6B6B;
    font-size:0.06rem;
}
.t .t2{
    position:absolute; 
    top:0.60rem;
    left:4rem;
    color:#2C2C2C;
    font-size:0.24rem;
}
.t .t3{
    position:absolute; 
    top:0.99rem;
    left:2.21rem;
    color:#909090;
    font-size:0.18rem;
}
.t .t4{
    position:absolute; 
    top:1.54rem;
    left:2.19rem;
    color:#7C7C7C;
    font-size:0.18rem;
}
.t .t5{
    position:absolute; 
    top:0.69rem;
    right:0.32rem;
    color:#000;
    font-size:0.24rem;
}
.t .t6{
    position:absolute; 
    top:1.67rem;
    left:5.53rem;
    color:#000;
    font-size:0.26rem;
}
.t .t7{
    position:absolute; 
    top:1.67rem;
    right:0.32rem;
    color:#000;
    font-size:0.18rem;
}
.t .t8{
    position:absolute; 
    bottom:0.35rem;
    right:0.34rem;
    color:#000;
    font-size:0.24rem;
}
.y{
    height:1.27rem;
    width: 7.02rem;
    margin:0 auto;
    position:relative;
}
.y span{
    font-size: 0.3rem;
    color:#000;
    border-left:0.05rem solid #ffcb3f;
    padding-left: 0.2rem;
    position:absolute; 
    left:0.2rem;
    top:0.61rem;
}
.u{
    height:5.08rem;
    width:7.02rem;
    margin: 0 auto;
    /* position:relative; */
    margin-top:0.36rem;
}
.u .u1{
    width: 3.24rem;
    height: 5.08rem;
    margin-left:0.13rem;
    float: left;
    position:relative;
    background-color:#Fff;
}
.u .u1 img{
    width: 3.24rem;
    height: 3.12rem;
    position:absolute; 
    left: 0;
    top: 0;
}
.u .u1 .u11{
    display:block; 
    width: 0.32rem;
    height: 0.03rem;
    background-color: #000;
    position:absolute; 
    top:3.28rem;
    left: 0.23rem;
}
.u .u1 .u12{
    font-size:0.18rem;
    color:#000;
    position:absolute; 
    top:3.42rem;
    left: 0.22rem;
}
.u .u1 .u13{
    font-size:0.24rem;
    color:#000;
    position:absolute; 
    bottom:1rem;
    left: 0.22rem;
}
.u .u1 .u14{
    font-size:0.24rem;
    color:#000;
    position:absolute; 
    bottom:0.34rem;
    left: 0.20rem;
}
.u .u1 p{
    width: 1.53rem;
    height: 0.44rem;
    font-size: 0.22rem;
    background-color: #ffcb3f;
    color:#fff;
    text-align:center;
    line-height:0.44rem;
    position:absolute; 
    right: 0;
    top:4.1rem;
}
.u .u1 p .iconadd121{
    font-size:0.16rem;
    color:#fff;
    line-height:0.44rem;
}

.u .u2{
    width: 3.24rem;
    height: 5.08rem;
    margin-right:0.13rem;
    float: right;
    position:relative;
    background-color:#Fff;
}
.u .u2 img{
    width: 3.24rem;
    height: 3.12rem;
    position:absolute; 
    left: 0;
    top: 0;
}
.u .u2 .u22{
    display:block; 
    width: 0.32rem;
    height: 0.03rem;
    background-color: #000;
    position:absolute; 
    top:3.28rem;
    left: 0.23rem;
}
.u .u2 .u23{
    font-size:0.18rem;
    color:#000;
    position:absolute; 
    top:3.42rem;
    left: 0.22rem;
}
.u .u2 .u24{
    font-size:0.24rem;
    color:#000;
    position:absolute; 
    bottom:1rem;
    left: 0.22rem;
}
.u .u2 .u25{
    font-size:0.24rem;
    color:#000;
    position:absolute; 
    bottom:0.34rem;
    left: 0.20rem;
}
.u .u2 p{
    width: 1.53rem;
    height: 0.44rem;
    font-size: 0.22rem;
    background-color: #ffcb3f;
    color:#fff;
    text-align:center;
    line-height:0.44rem;
    position:absolute; 
    right: 0;
    top:4.1rem;
}
.i{
    height:5.08rem;
    width:7.02rem;
    margin: 0 auto;
    margin-top:0.25rem;
}
.i .i1{
    width: 3.24rem;
    height: 5.08rem;
    margin-left:0.13rem;
    float: left;
    position:relative;
    background-color:#Fff;
}
.i .i2{
    width: 3.24rem;
    height: 5.08rem;
    margin-right:0.13rem;
    float: right;
    position:relative;
    margin-bottom:1.1rem;
    background-color:#Fff;  
    
}
.i .i1 img{
    width: 3.24rem;
    height: 3.12rem;
    position:absolute; 
    left: 0;
    top: 0;
}
.i .ui .i11{
    display:block; 
    width: 0.32rem;
    height: 0.03rem;
    background-color: #000;
    position:absolute; 
    top:3.28rem;
    left: 0.23rem;
}
.i .i1 .i12{
    font-size:0.18rem;
    color:#000;
    position:absolute; 
    top:3.42rem;
    left: 0.22rem;
}
.i .i1 .i13{
    font-size:0.24rem;
    color:#000;
    position:absolute; 
    bottom:1rem;
    left: 0.22rem;
}
.i .i1 .i14{
    font-size:0.24rem;
    color:#000;
    position:absolute; 
    bottom:0.34rem;
    left: 0.20rem;
}
.i .i1 p{
    width: 1.53rem;
    height: 0.44rem;
    font-size: 0.22rem;
    background-color: #ffcb3f;
    color:#fff;
    text-align:center;
    line-height:0.44rem;
    position:absolute; 
    right: 0;
    top:4.1rem;
}
.i .i1 p .iconadd121{
    font-size:0.16rem;
    color:#fff;
    line-height:0.44rem;
}
.i .i2 img{
    width: 3.24rem;
    height: 3.12rem;
    position:absolute; 
    left: 0;
    top: 0;
}
.i .u2 .i21{
    display:block; 
    width: 0.32rem;
    height: 0.03rem;
    background-color: #000;
    position:absolute; 
    top:3.28rem;
    left: 0.23rem;
}
.i .i2 .i22{
    font-size:0.18rem;
    color:#000;
    position:absolute; 
    top:3.42rem;
    left: 0.22rem;
}
.i .i2 .i23{
    font-size:0.24rem;
    color:#000;
    position:absolute; 
    bottom:1rem;
    left: 0.22rem;
}
.i .i1 .i24{
    font-size:0.24rem;
    color:#000;
    position:absolute; 
    bottom:0.34rem;
    left: 0.20rem;
}
.i .i2 p{
    width: 1.53rem;
    height: 0.44rem;
    font-size: 0.22rem;
    background-color: #ffcb3f;
    color:#fff;
    text-align:center;
    line-height:0.44rem;
    position:absolute; 
    right: 0;
    top:4.1rem;
}
.i .i2 p .iconadd121{
    font-size:0.16rem;
    color:#fff;
    line-height:0.44rem;
}