.header{
    width:7.5rem;
    height:0.9rem;
    z-index:10;
    background: #fff;
    
}
.header .header-box{
    width:7.02rem;
    height:0.9rem;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    
    
}
.header .header-box .header-box-left{
    width:0.88rem;
    height:0.9rem;
    text-align: left;
    color:#000;
}
.header3{
    position: fixed;
    top:0;
}
.header .header-box .header-box-left .iconfont{
    font-size:0.34rem;
    color:060606;
    line-height: 0.9rem;
    
}
.header .header-box .header-box-center{
    width:1.25rem;
    height:0.9rem;
    line-height:0.9rem;
    font-size:0.3rem;
    color:#000;
    text-align: center;
    font-family: [GillSansMT];
}
.header .header-box .header-box-center span{
    color:#ffcb3f;
}
.header .header-box .header-box-right{
    width:0.66rem;
    height:0.9rem;
    text-align: right;
    color:#000;
}
.header .header-box .header-box-right .iconfont{
    font-size:0.34rem;
    color:060606;
    line-height: 0.9rem;
}
.header11{
    width:7.5rem;
    height:0.88rem;
    color:#000;
    font-weight:both;
    font-size:0.28rem;
    text-align: center;
    line-height:0.88rem;
    margin-top:0.88rem;
    display: flex;
}
.header11 a{
    margin-left:0.25rem;
    color:#000;
}
.header11 p{
    margin-left:2.9rem;
}
.youhuiquan{
    width:7.02rem;
    height:1.41rem;
    margin:0 auto;
    box-shadow: 0px 1px 21px 0px 
    rgba(118, 118, 118, 0.17);
    display: flex;
    margin-top:0.38rem;
}
.youhuiquan img{
    width:2.08rem;
    height:1.41rem;
    display: block;
}
.youhuiquan.text{
    width:4.94rem;
    height:1.41rem;
}
.youhuiquan .text .big{
    margin:0.39rem 0  0.2rem 0.25rem;
    font-size: 0.26rem;
    color: #333333;
}
.youhuiquan .text .small{
    margin:0 0  0 0.25rem;
    font-size: 0.22rem;
    color: #666666;
}
